// SPDX-License-Identifier: GPL-2.0
/*
 * HDMI overlay for AM62P5 EVM U-Boot
 * Copyright (C) 2025 Texas Instruments Incorporated - https://www.ti.com/
 */

&dss0_vp1_clk {
	bootph-all;
};

&dss0 {
	bootph-all;
	compatible = "ti,am62p-dss";
	status = "okay";
	clocks = <&k3_clks 186 6>,
			<&dss0_vp1_clk>,
			<&k3_clks 186 2>;
};

&main_dpi_pins_default {
	bootph-all;
	status = "okay";
};

&dss0_ports {
	bootph-all;
	/* VP1: DPI Output to HDMI Bridge */
	port@1 {
		reg = <1>;
		bootph-all;

		dpi_out: endpoint {
			remote-endpoint = <&sii9022_in>;
			bootph-all;
		};
	};
};

/* HDMI Connector - Reference to main device tree */
&hdmi0 {
	bootph-all;
	status = "okay";

	port {
		bootph-all;

		hdmi_connector_in: endpoint {
			bootph-all;
		};
	};
};

/* I2C Configuration for HDMI Bridge */
&main_i2c0 {
	bootph-all;
	status = "okay";
};

&main_i2c1 {
	bootph-all;
	status = "okay";
};

/* SII9022 HDMI Bridge - Reference to main device tree */
&sii9022 {
	bootph-all;
	compatible = "sil,sii9022";
	status = "okay";

	ports {
		bootph-all;

		port@0 {
			bootph-all;

			sii9022_in: endpoint {
				bootph-all;
			};
		};

		port@1 {
			bootph-all;

			sii9022_out: endpoint {
				bootph-all;
			};
		};
	};
};

&dphy_tx0 {
	status = "disabled";
};

&dsi0 {
	status = "disabled";
};
