CONFIG_DEVICE_TREE_INCLUDES="k3-am62l3-evm-hdmi-u-boot.dtso"
CONFIG_SPL_MAX_SIZE=0x80000
CONFIG_SPL_SIZE_LIMIT=0x80000
CONFIG_SPL_BSS_START_ADDR=0x82c80000
CONFIG_SPL_BSS_MAX_SIZE=0x20000
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x820C0000
CONFIG_SPL_BOARD_INIT=y
CONFIG_SPL_GZIP=y
CONFIG_SPL_FS_LOADER=y
CONFIG_SPL_VIDEO_HANDOFF=y
CONFIG_BLOBLIST=y
CONFIG_BLOBLIST_FIXED=y
CONFIG_SPL_BLOBLIST=y
CONFIG_BLOBLIST_ADDR=0x89000000
CONFIG_OF_BOARD_SETUP=y
CONFIG_SPL_STACK_R_MALLOC_SIMPLE_LEN=0x1000000
CONFIG_SPL_STACK_R_ADDR=0x89000000
CONFIG_SPL_VIDEO_BRIDGE_SII902X=y
CONFIG_VIDEO_BRIDGE=y
CONFIG_SPL_VIDEO_BRIDGE=y
CONFIG_VIDEO_BRIDGE_SII902X=y
CONFIG_I2C_EDID=y
CONFIG_SPL_I2C_EDID=y
CONFIG_SPL_BUILD=y

#include <configs/am62x_a53_splashscreen.config>
